/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";



/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fff;
}

.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0 4vmin;
    background-color: var(--color-bg);
}

.gh-article {
    padding: 8vmin 0;
}

.gh-postfeed {
    padding: 8vmin 0;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.gh-card:not(:first-child) {
    margin: 8vmin auto 0;
}

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    margin-bottom: 4vmin;
    min-height: 55px;
}

@media (max-width: 740px) {
    .gh-card-image {
        max-height: 55px;
    }
}

.gh-card-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    /* max-width: 720px;
    margin: 0 auto; */
    font-size: 1.6rem;
    padding: 0 6vmin;
}

@media (min-width: 740px) {
    .gh-card-content {
       padding: 0 2vmin;
    }
}

.gh-card-title {
    overflow-wrap: break-word;
}

.gh-card-content p {
    margin: 1.2rem 0;
    font-weight: lighter;
    font-size: 20px;
    overflow-wrap: break-word;
}

.gh-card-content > strong {
    float: right;
    margin: 3vmin 0;
    font-size: 20px;
}

@media (min-width: 740px) {
    .gh-card-content > strong {
        margin: 1vmin 0;
    }
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 0 0 8vmin 0;
    text-align: center;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 100%;
    margin: 8vmin 0 0;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

.wi-foot-social {
    display: flex;
    height: 32px;
    justify-content: space-around;

}

.wi-social {
    text-align: center;
    margin-top: var(--margin);
}

.gh-card {
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    transition: .6s ease;
}

@media (min-width: 740px) {
    .gh-postfeed {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .gh-card {
        width: 32%;
        margin: 1% 0;
    }

    .gh-card:not(:first-child) {
        margin: 1% 0;
    }

    .gh-card:nth-child(3n-1) {
        margin-left: 2%;
        margin-right: 2%;
    }

}

.gh-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wi-divider {
    background-color: var(--color-border);
    height: 1px;
    margin: 0 -6vmin;
}

@media (min-width:740px) {
    .wi-divider {
        margin: 0 -2vmin;
    }
}

.wi-tag {
    background-color: var(--color-primary);
    position: absolute;
    right: 6vmin;
    margin-top: 1rem;
    padding: 7px 14px;
    font-size: 20px;
    color: var(--color-tag);
    border-radius: var(--radius);
}

@media (min-width: 740px){
    .wi-tag {
        right: 2vmin;
    }
}

.wi-tv-container {
    position: relative;
    max-width: 1200px;
    padding: 0 4vmin;
    margin: auto;
    min-height: 300px;
}

.wi-tv-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #ffffff;

}

.wi-tv-container img {
    background-color: grey;
}