/* Variables
/* ---------------------------------------------------------- */

:root {

    /* Colours */
    --color-primary: #AE2761;
    --color-base: #1E1E1E;
    --color-border: #5DBE7C;
    --color-bg: #f1f1f1;
    --color-divider: #D5EEE4;
    --color-tag: #BFFCFA;
    --color-success: #80b912;
    --color-error: #f05230;

    /* Fonts */
    --font-sans-serif: "Noto Sans CJK SC", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 4rem;
    --radius: 1rem;

}
